<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Água</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Água</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="telatoda">
  <ion-content>
    <!-- Blastoise   -->
    <ion-card>
      <img alt="Blastoise Nº 0009" src="assets/009.png" />
      <ion-card-header>
        <ion-card-title>Blastoise</ion-card-title>
        <ion-card-subtitle>Nº 0009</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ele aumenta deliberadamente seu peso corporal para que possa suportar o recuo dos jatos de água que dispara.
      </ion-card-content>

    <!-- Gyarados -->
    <ion-card>
      <img alt="Gyarados Nº 0130" src="assets/130.png" />
      <ion-card-header>
        <ion-card-title>Gyarados</ion-card-title>
        <ion-card-subtitle>Nº 0130</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Uma vez que aparece, ele entra em fúria. Ele permanece enfurecido até demolir tudo ao seu redor.
      </ion-card-content>
    </ion-card>

    <!-- Swampert   -->
    <ion-card>
      <img alt="Swampert Nº 0260" src="assets/260.png" />
      <ion-card-header>
        <ion-card-title>Swampert </ion-card-title>
        <ion-card-subtitle>Nº 0260</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Este Pokémon confunde os oponentes com sua velocidade. Ele usa todos os seus membros para lutar em seu próprio estilo único.
      </ion-card-content>
    </ion-card>

    <!-- Kyogre   -->
    <ion-card>
      <img alt="Kyogre Nº 0392" src="assets/382.png" />
      <ion-card-header>
        <ion-card-title>Kyogre</ion-card-title>
        <ion-card-subtitle>Nº 0382</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ele solta ondas de vapor e desaparece na densa névoa. Diz-se que vive em montanhas onde os humanos não pisam.
      </ion-card-content>
    </ion-card>

    <!-- Greninja -->
    <ion-card>
      <img alt="Greninja  Nº 0658" src="assets/658.png" />
      <ion-card-header>
        <ion-card-title>Greninja</ion-card-title>
        <ion-card-subtitle>Nº 0658</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        O movimento do ar contra a longa língua que Greninja mantém enrolada em seu pescoço permite que ele sinta inimigos que não pode ver.
      </ion-card-content>
    </ion-card>
    
  <!-- </ion-content> -->
<!-- </div> -->