<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Psíquico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="telatoda">
      <!-- Espeon  -->
      <ion-card>
        <img alt="Espeon Nº 0196" src="assets/196.png" />
        <ion-card-header>
          <ion-card-title>Espeon </ion-card-title>
          <ion-card-subtitle>Nº 0196</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          A ponta de sua cauda bifurcada treme quando está prevendo o próximo movimento de seu oponente.
        </ion-card-content>
      </ion-card>
      <!--Gardevoir -->
      <ion-card>
        <img alt="Gardevoir Nº 0282" src="assets/282.png" />
        <ion-card-header>
          <ion-card-title>Gardevoir</ion-card-title>
          <ion-card-subtitle>Nº 0282</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Para proteger seu Treinador, ele gastará todo o seu poder psíquico para criar um pequeno buraco negro.
        </ion-card-content>
      </ion-card>
      <!-- Lugia  -->
      <ion-card>
        <img alt="Lugia Nº 0249" src="assets/249.png" />
        <ion-card-header>
          <ion-card-title>Lugia</ion-card-title>
          <ion-card-subtitle>Nº 0249</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          As asas de Lugia têm um poder devastador - um leve bater de asas pode explodir casas normais. Como resultado, este Pokémon escolhe viver fora de vista nas profundezas do mar.
        </ion-card-content>
      </ion-card>
      <!-- Mewtwo  -->
      <ion-card>
        <img alt="Mewtwo Nº 0150" src="assets/150.png" />
        <ion-card-header>
          <ion-card-title>Mewtwo</ion-card-title>
          <ion-card-subtitle>Nº 0150</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Seu DNA é quase o mesmo que o de Mew. No entanto, seu tamanho e disposição são muito diferentes.
        </ion-card-content>
      </ion-card>
      <!-- Mew Nº 0151 -->
            <ion-card>
        <img alt="Mew Nº 0151" src="assets/151.png" />
        <ion-card-header>
          <ion-card-title>Mew</ion-card-title>
          <ion-card-subtitle>Nº 0151</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Quando visto através de um microscópio, o cabelo curto, fino e delicado deste Pokémon pode ser visto.
        </ion-card-content>
      </ion-card>
    </div>  
</ion-content>


