<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tipo Normal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Normal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>




<div class="telatoda">
  <ion-content>
      <!-- Meowth  -->
      <ion-card>
        <img alt="Meowth Nº 0052" src="assets/052.png" />
        <ion-card-header>
          <ion-card-title>Meowth </ion-card-title>
          <ion-card-subtitle>Nº 0052</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Tudo o que faz é dormir durante o dia. À noite, patrulha seu território com os olhos brilhando.
        </ion-card-content>
      </ion-card>
      <!--Porygon -->
      <ion-card>
        <img alt="Porygon Nº 0137" src="assets/137.png" />
        <ion-card-header>
          <ion-card-title>Porygon</ion-card-title>
          <ion-card-subtitle>Nº 0137</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          É um Pokémon artificial. Como não respira, as pessoas ficam entusiasmadas com seu potencial de ser útil em qualquer ambiente.
        </ion-card-content>
      </ion-card>
      <!-- Snorlax  -->
      <ion-card>
        <img alt="Snorlax Nº 0143" src="assets/143.png" />
        <ion-card-header>
          <ion-card-title>Snorlax</ion-card-title>
          <ion-card-subtitle>Nº 0143</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Este Pokémon guloso come constantemente, exceto quando está dormindo. Ele devora quase 900 libras de comida por dia.
        </ion-card-content>
      </ion-card>
      <!-- Regigigas  -->
      <ion-card>
        <img alt="Regigigas Nº 0486" src="assets/486.png" />
        <ion-card-header>
          <ion-card-title>Regigigas</ion-card-title>
          <ion-card-subtitle>Nº 0486</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Diz-se que fez Pokémon que se parecem com ele mesmo a partir de uma montanha de gelo especial, rochas e magma.
        </ion-card-content>
      </ion-card>
      <!-- Bunnelby Nº 0659 -->
            <ion-card>
        <img alt="Bunnelby Nº 0659" src="assets/659.png" />
        <ion-card-header>
          <ion-card-title>Bunnelby</ion-card-title>
          <ion-card-subtitle>Nº 0659</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Ele se destaca em cavar buracos. Usando suas orelhas, ele pode cavar um ninho de 33 pés de profundidade em uma noite.
        </ion-card-content>
      </ion-card>

  </ion-content>
</div>  

