<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grama
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Normal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="telatoda">
  <ion-content>
    <!-- Sceptile   -->
    <ion-card>
      <img alt="Sceptile Nº 0254" src="assets/254.png" />
      <ion-card-header>
        <ion-card-title>Sceptile </ion-card-title>
        <ion-card-subtitle>Nº 0254</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ele voa agilmente pela selva e usa as folhas afiadas em seus braços para cortar suas presas.
      </ion-card-content>
    </ion-card>
    <!--Snivy -->
    <ion-card>
      <img alt="Snivy Nº 0495" src="assets/495.png" />
      <ion-card-header>
        <ion-card-title>Snivy</ion-card-title>
        <ion-card-subtitle>Nº 0495</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        A folha na cauda de Snivy gera energia quando exposta à luz solar, tornando Snivy mais rápido e adicionando uma vantagem aos seus movimentos.
      </ion-card-content>
    </ion-card>
    <!-- Chesnaught   -->
    <ion-card>
      <img alt="Chesnaught Nº 0652" src="assets/652.png" />
      <ion-card-header>
        <ion-card-title>Chesnaught </ion-card-title>
        <ion-card-subtitle>Nº 0652</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Quando seus aliados estão em apuros, Chesnaught cria um escudo com seus braços e usa seu próprio corpo para bloquear ataques.
      </ion-card-content>
    </ion-card>
    <!-- Venusaur   -->
    <ion-card>
      <img alt="Venusaur Nº 0003" src="assets/003.png" />
      <ion-card-header>
        <ion-card-title>Venusaur</ion-card-title>
        <ion-card-subtitle>Nº 0003</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Enquanto se aquece ao sol, pode converter a luz em energia. Como resultado, é mais poderoso no verão.
      </ion-card-content>
    </ion-card>
    <!-- Trevenant  Nº 0709 -->
          <ion-card>
      <img alt="Trevenant  Nº 0709" src="assets/709.png" />
      <ion-card-header>
        <ion-card-title>Trevenant</ion-card-title>
        <ion-card-subtitle>Nº 0709</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Usando suas raízes, Trevenant se conecta às árvores e monitora todos os cantos de sua floresta. Ele usa maldições para afastar os intrusos.
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>