<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fogo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="telatoda">
  <ion-content>
    <!-- Charizard   -->
    <ion-card>
      <img alt="Charizard Nº 0006" src="assets/006.png" />
      <ion-card-header>
        <ion-card-title>Charizard</ion-card-title>
        <ion-card-subtitle>Nº 0006</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Se Charizard ficar realmente irritado, a chama na ponta de sua cauda queima em um tom azul claro.      </ion-card-content>
    </ion-card>
    <!--Blaziken -->
    <ion-card>
      <img alt="Blaziken Nº 0257" src="assets/257.png" />
      <ion-card-header>
        <ion-card-title>Blaziken</ion-card-title>
        <ion-card-subtitle>Nº 0257</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ao enfrentar um inimigo difícil, ele solta chamas de seus pulsos. Suas pernas poderosas permitem que ele salte sobre os edifícios.      </ion-card-content>
    </ion-card>
    <!-- Infernape   -->
    <ion-card>
      <img alt="Infernape Nº 0392" src="assets/392.png" />
      <ion-card-header>
        <ion-card-title>Infernape </ion-card-title>
        <ion-card-subtitle>Nº 0392</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Este Pokémon confunde os oponentes com sua velocidade. Ele usa todos os seus membros para lutar em seu próprio estilo único.      </ion-card-content>
    </ion-card>
    <!-- Volcanion   -->
    <ion-card>
      <img alt="Volcanion Nº 0721" src="assets/721.png" />
      <ion-card-header>
        <ion-card-title>Volcanion</ion-card-title>
        <ion-card-subtitle>Nº 0721</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ele solta ondas de vapor e desaparece na densa névoa. Diz-se que vive em montanhas onde os humanos não pisam.      </ion-card-content>
    </ion-card>
    <!-- Incineroar -->
          <ion-card>
      <img alt="Incineroar  Nº 0727" src="assets/727.png" />
      <ion-card-header>
        <ion-card-title>Incineroar</ion-card-title>
        <ion-card-subtitle>Nº 0727</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Quando seu espírito de luta é incendiado, as chamas em torno de sua cintura tornam-se especialmente intensas.      </ion-card-content>
    </ion-card>
    
  </ion-content>
</div>