<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Inicial</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="telatoda">
  <ion-content>
    <!-- Sceptile   -->
    <ion-card class="centro">
      <img class="centro" alt="Sua image" src="assets/ícone_contato.webp" />
      <ion-card-header>
        <ion-card-title style="font-size:5vw">João Vitor Schonbërger Gonçalves</ion-card-title>
      </ion-card-header>
    
      <ion-card-content style="color: rgb(37, 37, 37); font-size:5vw">
        <p style="font-size: 2vw;"><span style="color: black; font-weight: bold; font-size: 2vw;"> Tipo de pokemons encontrados</span> 5 tipos</p> <br>
        <p style="font-size: 2vw; color: snow;">Normal: <span>5 pokemons coletados</span></p><br>
        <p style="font-size: 2vw; color: plum;">Psíquico: <span>5 pokemons coletados</span></p><br>
        <p style="font-size: 2vw; color: greenyellow">Grama: <span>5 pokemons coletados</span></p><br>
        <p style="font-size: 2vw; color: orangered;">Fogo: <span>5 pokemons coletados</span></p><br>
        <p style="font-size: 2vw; color: lightskyblue;">Água: <span>5 pokemons coletados</span></p><br>

        
      </ion-card-content>
    </ion-card>
    
  </ion-content>
</div>